.form {
  padding: 1em;
  width: 100%;
}
.invoice {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1em;
}
.invoice textarea,
.input {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
}
.label {
  display: block;
  margin-bottom: 1em;
}
.logo_input {
  display: inline-block;
  appearance: none;
  width: 0;
  height: 0;
}

.logo_wrap {
  display: inline-block;
  padding: 1em;
  margin-bottom: 1em;
  color: #282727;
  text-align: center;
  background-color: rgb(246, 237, 238);
}
.capitalize {
  font-weight: 600;
  margin-bottom: 0.2em;
  text-transform: capitalize;
  display: block;
}
.flex {
  display: flex;
  align-items: center;
  gap: 0.2em;
  margin-bottom: 0.2em;
}
.flex span {
  margin-bottom: 0;
}
.invoice_item {
  margin-bottom: 0.5em;
}
.invoice_itemlist {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}
.amount {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(240, 29%, 68%);
}
.num {
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(8, 8, 108);
}
.col_one{
  grid-column: 2;
  grid-row: 1;
 
}
.col_two{
  grid-column: 2;
}
.col_three{
  grid-column: 2;
}
.calwrap:nth-child(2){
  grid-column: 4;
  grid-row: 2;
}
.cal {
  grid-column: 3;
}
.seal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.sign {
  background-color: rgb(246, 237, 238);
  max-width: 150px;
  padding: 1em;
  text-align: center;
  color: #141414;
  margin: 2em 0;
  font-weight: 700;
}
.btn {
  padding: 1em 0.5em;
  display: block;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-transform: capitalize;
}
.add {
  color: rgb(2, 2, 2);
  background-color: rgb(246, 223, 225);
}
.save {
  color: rgb(246, 246, 246);
  background-color: rgb(244, 117, 131);
}
.addtax {
  padding: 1em 0.5em;
  width: 30%;
  border-radius: 8px;
  border: none;
  background-color: rgb(56, 56, 77);
  color: #fff;
  margin: 2em 0;
  display: block;
}
.sign img {
  margin: 1em auto 0;
}
.tax {
  display: none;
}
.fixed{
  transform: translateX(1000%);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 5ms ease-in-out;
  z-index: 1000000000000000000;
}
.taxwrap{
max-width: 350px;
background-color: #fff;
padding: 2em 1em;
border-radius: 5px;
width: 100%;
}
.taxwrap input{
display: block;
width: 100%; 
margin-bottom: 1em; 
padding: 1em;
border-radius: 8px;
}
.block {
  display: block;
}
.formwrapper {
  background-color: #c5e1f4;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 2em;
}
.table{
  width: 100%;
border-collapse: collapse;
margin-bottom: 1em;
}
.td{
  position: relative;
  text-transform: capitalize;
  padding: 1em 0.3em;
  border: 1px solid;
}
.remove{
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  background-image: url('../../public/assets/cancel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0.5em;
 bottom: 0.2em;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (min-width: 40rem) {
  .invoice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .invoice_itemlist {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60rem) {
  .invoice_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 50px;
    gap: 1em;
    margin-bottom: 0.5em;
  }
}
