
.container{
    padding: 1em;
}.address {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sender {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.semi {
    font-weight: 600;
}

.font_mid {
    font-size: 14px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em auto;
}

.head {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    text-transform: uppercase;
    font-size: 10px;

}

.bold {
    text-transform: capitalize;
    font-weight: 500;
    text-align: end;
}

.padding {
    padding: 0.5em 0;
}

.end {
    text-align: end;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.sign {
    margin-top: 2em;
    margin-left: 85%;
}